{% extends "layout.html" %}



{% block content %}




<div id="home">

<section id="intro" class="outer v-center">
  <div id="intro-content" class="flex container">
    <div class="cell half">
       <h1 id="title" class="h-mid">Emma Cormick – Residential interior designer</h1> 
       <p class="caption"><a href="mailto:{{email}}">{{email}}</a> / <a href="mailto:{{email}}">View resumé</a></p>
    </div>   
    <div class="cell half">
      <div class="t-mega">
        {% markdown %}
          {{intro}}
        {% endmarkdown %}
      </div>
    </div>
  </div>
</section>


<section id="work" class="flex outer">
  {% for project in collections.projects %}
    <div class="work half cell inview"  id="{{project.slug}}">
      <a href="/{{project.slug}}/" class="work-inner container">
        <div class="copy cell">
          <h3 class="h-small">{{project.name}}</h3>
          <p class="small">{{project.snippet}}</p>
          <p class="caption small">{{project.type}}</p>
        </div>

        <div class="cell">
          <div class="thumb-container image-wrapper">
            <div class="aspect square">
              <img src="{{project.thumbSrc}}" alt="" class="fill-parent"/>
            </div>
          </div> 
        </div>
      </a>
    </div> 
  {% endfor %}
</section>



<section id="bio" class="outer container">
  <div class="flex">
    <div class="cell half">
      <h1 class="h-mid">{{bioTitle}}</h1>
    </div>

    <div class="half flex">
      <div class="cell t-mid">
        {% markdown %}
          {{bio}}
        {% endmarkdown %}
      </div>
      <div class="cell half">
        <h3 class="caption small">Skills</h3>
        <ul>
          {% for skill in skills%}
            <li>{{skill}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="cell half">
        <h3 class="caption small">Software</h3>
        <ul>
          {% for software in software%}
            <li>{{software}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>



 
</div>

{% endblock %}