{% extends "layout.html" %}



{% macro intro(data) %}

  <section class="intro v-center outer">
    <div class="container flex">
      <div class="cell half">
        <h1 class="h-mega">{{data.title}}</h1>
        <div class="caption small">
          {% markdown %}
            {{data.aside}}
          {% endmarkdown %}
        </div>
      </div>
      
      <div class="cell copy t-mega half">
        {% markdown %}
          {{data.content}}
        {% endmarkdown %}
      </div>

    </div>
  </section>

{% endmacro %}


{% macro fullImage(data) %}

  <section class="full-image">
    <div class="image-wrapper">
      <div class="aspect {{data.aspect}} inview">
        <img src="{{data.src}}" alt="{{data.caption}}" class="fill-parent"/>
      </div>
      <div class="cell outer">
        <p class="caption small cell">{{data.caption}}</p>
      </div>
    </div>
  </section>

{% endmacro %}


{% macro imageGrid(data) %}

  <section class="image-grid outer flex">
      {% for image in data.images %}
        <div class="cell {{image.width}} image-wrapper">
          <div class="aspect {{image.aspect}} inview">
            <img src="{{image.src}}" alt="{{image.caption}}" class="fill-parent"/>
          </div>
          <p class="caption small">{{image.caption}}</p>
        </div>
      {% endfor %}
  </section>

{% endmacro %}


{% macro text(data) %}

  <section class="text outer flex">
    <div class="half cell">
      <h3 class="h-small">{{data.title}}</h3>
    </div>
    <div class="cell half t-mid copy">
      {% markdown %}
        {{data.content}}
      {% endmarkdown %}
    </div>

  </section>

{% endmacro %}

{% macro divider(data) %}

  <div class="divider"></div>

{% endmacro %}  















{% block content %}



<div class="project ">
  <!-- {{projectsIndex}} -->
  {% for block in pageBlocks %}

    {% if (block.type == 'intro')%}
      {{ intro(block)}}
    {% endif %}

    {% if (block.type == 'full-image')%}
      {{ fullImage(block)}}
    {% endif %}

    {% if (block.type == 'image-grid')%}
      {{ imageGrid(block)}}
    {% endif %}

    {% if (block.type == 'text')%}
      {{ text(block)}}
    {% endif %}

    {% if (block.type == 'divider')%}
      {{ divider(block)}}
    {% endif %}

  {% endfor %}

  <section class="text outer flex">
    <div class="cell half annotations copy">
      {% markdown %}
        {{annotations}}
      {% endmarkdown %}
    </div>
  </section>



  <div class="work-wrapper">
    <section id="work" class="flex outer">


      
      {% set nextA = collections.projects[(projectsIndex+1)%collections.projects.length] %}
      {% set nextB = collections.projects[(projectsIndex+2)%collections.projects.length] %} 

      {% set nextProjects = [nextA, nextB] %} 


      <h2 class="h-mid full cell">Up next</h2>
      {% for project in nextProjects %}
        <div class="work half cell"  id="{{project.slug}}">
          <a href="/{{project.slug}}/" class="work-inner container">
            <div class="copy cell">
              <h3 class="h-small">{{project.name}}</h3>
              <p class="small">{{project.snippet}}</p>
              <p class="caption small">{{project.type}}</p>
            </div>

            <div class="cell">
              <div class="thumb-container image-wrapper">
                <div class="aspect square">
                  <img src="{{project.thumbSrc}}" alt="" class="fill-parent"/>
                </div>
              </div> 
            </div>
          </a>
        </div> 
      {% endfor %}  
    </section>
  </div>
</div>

{% endblock%} 