
@import 'normalize.scss';
@import 'include-media';
@import 'variables';
@import 'typography';
@import 'layout';
@import 'images';

body{
  padding: 0px;
  margin: 0px;
  line-height: 1.5em;
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $primary-text-color;
}


#intro{
  min-height: 66vh;

  #title{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .caption{
    margin-top: 0.75rem;
  }
}

#bio{
  margin-bottom: 6rem;
}

#work{
  align-items: stretch;
}


.work{
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;

  .caption{
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .work-inner{
    @include h-padded;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    

    @include media(">medium"){
      padding-top: 3rem;
      padding-bottom: 4rem;
    }

    .aspect{
      overflow: hidden;
    }

    img{
      transition: all 3200ms cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: scale3d(1.2, 1.2, 1.2);
    }

    &:hover{
      // transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translate3d(0, -1rem, 0);
      img{
        transform: scale3d(1.2, 1.2, 1.2) translate3d(0, -1rem, 0);
        transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .copy{
    margin-bottom: 2rem;
    & *{
      color: #fff;
    }
    
    h3{
      margin-bottom: 0.5rem;
    }
    p{
      margin-top: 0.5rem;
    }
  }

  .thumb-container{
    position: relative;
  }
}


nav{
  position: sticky;
  width: 100%;
  top: -1px;
  padding-top:0.25rem;
  padding-bottom: 0.25rem;
  background-color: #fff;
  z-index: 3;

  #logo{
    flex: 1;
    margin: 0px;
    overflow: hidden;
    
    a{
      display: block;
      transform: translate3d(0, 0rem, 0);
      transition: all 300ms ease;
    }

    &.hidden a{
      transform: translate3d(0, 2rem, 0);
    }
  }

  & *{
    margin: 0px;
  }

  a{
    text-decoration: none;
  }
}

footer{
  // margin-top: 6rem;
  min-height: 50vh;
  background-color: #676F73;
  
  & *{
    color: #fff;
  }

  section{
    margin-top: 0px;
  }
}

#the-gardens{
  .work-inner{
    background-color: #A2B368;
  }
}

#horizon-apartment{
  .work-inner{
    background-color: #EDB554;
  }
}

#potts-point-apartment{
  .work-inner{
    background-color: #E2805D;
  }
}

#cubby-house{
  .work-inner{
    background-color: #ABCDC0;
  }
}

#southern-cross-aged-care{
  .work-inner{
    background-color: #41555F;
  }
}


.project{
  .text{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .work-wrapper{
    background-color: $light-background-color;
  }

  #work{
    margin-bottom: 0px;
  }
}

.inview{
  opacity: 0;
  transition: opacity 600ms ease;
  &.visible{
    opacity: 1;
  }
}


a{
  transition: all 3200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: inline-block;
  &:hover{
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate3d(0, -10%, 0);
  }
}