@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("/assets/fonts/Inter-UI-Regular.woff2?v=2.1") format("woff2"),
       url("/assets/fonts/Inter-UI-Regular.woff?v=2.1") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("/assets/fonts/Inter-UI-Medium.woff2?v=2.1") format("woff2"),
       url("/assets/fonts/Inter-UI-Medium.woff?v=2.1") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  src: url("/assets/fonts/Inter-UI-Black.woff2?v=2.1") format("woff2"),
       url("/assets/fonts/Inter-UI-Black.woff?v=2.1") format("woff");
}


*{
  font-family: 'Inter UI';
  color: $primary-text-color;
  // font-weight: 500;
}

// .h-mega{
//   font-weight: 600;
//   font-size: 2rem;
//   line-height: 3rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;

//   @include media('>medium'){
//     font-size: 3rem;
//     line-height: 4rem;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }
// }


.h-small{
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

}

.h-mid{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  // text-transform: uppercase;
  
}

.h-mega{
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.t-small *{
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.t-mid *{
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.t-mega *{
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


// p{
//   font-size: 1rem;
//   line-height: 2rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

// .small p, p.small{

// }

// strong{
//   font-weight: 500;
// }

// .mega p{
//   font-size: 1.25rem;
//   line-height: 2.5rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

.caption, .caption *{
  font-family: 'Roboto Mono', monospace;
  color: $secondary-text-color;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


ul{
  padding: 0px;
}

ul li{
  list-style: none;
  line-height: 2rem;
  padding-left: 2rem;
  position: relative;

  &:before{
    content: '–';
    position: absolute;
    left: 0px;
  }
}


.secondary{
  color: $secondary-text-color;
}

.annotations{
  font-size: 0.625rem;
  line-height: 1rem;
  color: $secondary-text-color;
}
// h1{
//   font-size: 2.5rem;
//   font-weight: 900;
//   line-height: 3rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   letter-spacing: 3px;

//   @include media(">medium") {
//     font-size: 3.5rem;
//     line-height: 4rem;
//     margin-top: 3rem;
//     margin-bottom: 3rem;
// 	}

// 	@include media(">large") {
//     font-size: 4.5rem;
//     line-height: 6rem;
//     margin-top: 4rem;
//     margin-bottom: 4rem;
// 	}
// }


// h2{
//   font-size: 1.5rem;
//   line-height: 3rem;
//   margin-bottom: 1rem;
//   margin-top: 1rem;
//   font-weight: 900;
//   letter-spacing: 2px;

//   @include media(">medium") {
//     font-size: 2rem;
//     line-height: 3rem;
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
// 	}

//   @include media(">large") {
//     font-size: 4rem;
//     line-height: 5rem;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }
// }


// h3{
//   font-size: 1.125rem;
//   line-height: 2rem;
//   margin-bottom: 1.5rem;
//   margin-top: 1.5rem;
//   font-weight: 900;

//   @include media(">medium") {
//     font-size: 1.125rem;
//     line-height: 2.5rem;
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
// 	}
// }






// img[alt]{
//   font-size: 1rem;
//   line-height: 2rem;
//   font-weight: 900;
//   text-align: center;
//   line-height: 208px;
//   color: $light-background-color;
//   // display: none;
// }