.center-col{
  max-width: $max;
  margin: 0 auto;
}

.h-padded{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;

  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: $mid) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: $big) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.v-padded{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-sizing: border-box;

  @media (min-width: $small) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: $mid) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: $big) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


.horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse{
    flex-direction: row-reverse;
  }

  &.v-center{
    align-items: center;
  }

  &.v-start{
    align-items: flex-start;
  }

  &.v-end{
    align-items: flex-end;
  }

  .flex{
    flex: 1;
  }
}




.cell{
  @extend .h-padded;
}

.row{
  @extend .h-padded;
}

.xs-quarter{
  width: 25%;
}

.xs-half{
  width: 50%;
}

.xs-three-quarters{
  width: 75%;
}

.xs-full{
  width: 100%;
}

.xs-third{
  width: 33.33%;
}

.xs-two-thirds{
  width: 66.66%;
}

.xs-five-sixths{
  width: 83.33%;
}

@media (min-width: $small) {
  .s-quarter{
    width: 25%;
  }

  .s-half{
    width: 50%;
  }

  .s-three-quarters{
    width: 75%;
  }

  .s-full{
    width: 100%;
  }

  .s-third{
    width: 33.33%;
  }

  .s-two-thirds{
    width: 66.66%;
  }
}

@media (min-width: $mid) {
  .m-quarter{
    width: 25%;
  }

  .m-half{
    width: 50%;
  }

  .m-three-quarters{
    width: 75%;
  }

  .m-full{
    width: 100%;
  }

  .m-third{
    width: 33.33%;
  }

  .m-two-thirds{
    width: 66.66%;
  }
}

@media (min-width: $big) {
  .l-quarter{
    width: 25%;
  }

  .l-half{
    width: 50%;
  }

  .l-three-quarters{
    width: 75%;
  }

  .l-full{
    width: 100%;
  }

  .l-third{
    width: 33.33%;
  }

  .l-two-thirds{
    width: 66.66%;
  }
}


