@import "reset.scss";
@import "variables.scss";
@import "type.scss";
@import "layout.scss";
@import "images.scss";
@import "animations.scss";

html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: $background;
  color: $primary;
}

img{
  display: block;
}

figure{
  margin: 0px;
}
